extends layout

block content
	.row.about
		.aboutButtons.col-2
				a.bg-transparent.text-light.btn-block.text-center(href='/products') PRODUCTS
		.aboutButtons.col-2
				a.bg-transparent.text-light.btn-block.text-center(href='/contact') CONTACT
		.col-7.offset-1
			h2.text-light We believe that delicious and healthy can be found in the same product. And we simply do not care about your shitty little opinion.
		