<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>ABOUT US</h3>
    </div>
    <div class="col-7 mt-3">
      <p>
        We are a company based on 1 person's imagination, so you might be able to imagine how fragile is this sistem.
        There can be a huge emotionstorm anytime and there goes all the precious work, just because some stupid video
        tutorial didn't work out the way it did to the presenter.
      </p>
      <p>
        So please be patiente while browsing, if something could be better, we already tried and failed it, so this is
        how it stayed.
      </p>
    </div>
    <div class="col-5">
      <img src="https://img.icons8.com/color/240/000000/floating-guru.png">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <img src="https://img.icons8.com/color/96/000000/volunteering.png">
    </div>
    <div class="col-9 middle">
      <h4>But feel free to join, the more the merrier!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8 middle">
      <h4>And be sure to choose a favourite fruit! You know, health first!</h4>
    </div>
    <div class="col-4">
      <img src="https://img.icons8.com/color/96/000000/heart-health.png">
    </div>
  </div>
</div>
